body {
    margin: 0;
    padding: 0;
    .wrapperLogin {
        width: 350px;
        padding: 20px;
        border: 2px solid hsl(197, 100%, 23%);
        border-radius: 10px;
        box-shadow: 2px 3px 5px gray;
        background-color: white;
        position: block;
        margin-top: 21rem;
        margin-left: auto;
        margin-right: auto;
        font: 14px sans-serif;
    }
    .wrapperSignIn {
        width: 350px;
        padding: 20px;
        border: 2px solid hsl(197, 100%, 23%);
        border-radius: 10px;
        box-shadow: 2px 3px 5px gray;
        background-color: white;
        position: block;
        margin-top: 12rem;
        margin-left: auto;
        margin-right: auto;
        font: 14px sans-serif;
    }
}