body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: "Inconsolata", monospace;
  overflow-x: hidden;
  .navi {
    font-size: 35px;
    cursor: pointer;
    color: white;
    position: sticky;
    left: 17px;
    top: 8px;
  }

  /* Styling for options bar */
  .options {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto; /* Center horizontally */
    padding: 2px;
    font-size: 20px;
    width: 50%; /* Adjust width as needed */
    max-width: 800px; /* Optional: Set maximum width */
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    /* Hide specific buttons */
    #bearbeiten,
    #loeschen,
    #erledigt,
    #freigeben,
    #undo {
      display: none;
    }

    /* Button styles */
    button {
      background-color: white;
      border: 1px solid white;
      color: black;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      border-radius: 10px;
      cursor: pointer;

      /* Button hover effect */
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }

  /* Styling for main content */
  main {
    display: block;
    margin-left: 3rem;
    color: white;

    /* Text color for headers and paragraphs */
    h1,
    p {
      color: white;
      text-align: center;
    }

    /* Table styling */
    table {
      width: 50%;
      border-collapse: collapse;
      box-shadow: 0px 2px 18px 0px rgba(255, 255, 255, 0.5);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5rem;

      /* Table cell styles */
      td,
      th {
        color: black;
        border: 1px solid black;
        text-align: left;
        background-color: white;
        padding: 15px;
      }

      /* Specific styles for cells with input type checkbox */
      td input[type="checkbox"] {
        width: 25px;
        height: 25px;

        /* Checkbox hover effect */
        &:hover {
          cursor: pointer;
        }
      }
      /* Specific styles for cells with input type checkbox */
      th input[type="checkbox"] {
        width: 25px;
        height: 25px;

        /* Checkbox hover effect */
        &:hover {
          cursor: pointer;
        }
      }

      /* Edit button style */
      .edit {
        background-color: #4caf50;
        border: 2px solid #4caf50;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;

        /* Edit button hover effect */
        &:hover {
          background-color: white;
          color: #4caf50;
          transition: 0.5s ease;
        }
      }

      /* Delete button style */
      .delete {
        background-color: red;
        border: 2px solid red;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;

        /* Delete button hover effect */
        &:hover {
          background-color: white;
          color: red;
          transition: 0.5s ease;
        }
      }

      /* Styles for tasks not overdue */
      .aufgabe_nicht_zu_spaet {
        background-color: lightgreen;

        /* Select all container style */
        .selectAllContainer {
          background-color: blue;
          display: flex;
          align-items: center;
        }
      }

      /* Styles for overdue tasks */
      .aufgabe_zu_spaet {
        background-color: lightcoral;
      }
    }

    /* Form styling */
    form {
      margin-top: 0.2rem;

      /* Input field style */
      input {
        width: 20%;
        height: 47px;
        font-size: 20px;
        border: 2px solid black;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      /* Margin adjustment for elements with IDs */
      #aufgabe,
      #date {
        margin-left: 1em;
      }

      /* Add task button style */
      .hinzufuegen {
        background-color: #06145b;
        border: 2px solid #06145b;
        color: white;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        float: right;
        padding: 15px 32px;
        box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        &:hover {
          background-color: white;
          color: #06145b;
        }
      }
    }
  }
  #deleteAllOffeneTasks,
  #deleteAllErledigteTasks {
    background-color: white;
    border: 2px solid white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s ease;
    display: none;
    margin-top: 5px;
    &:hover {
      background-color: black;
      color: white;
      transition-duration: 0.4s;
    }
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      border: 1px solid #888;
      width: 25%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s;
      border-radius: 25px;
      /* The Close Button */
      .close {
        color: black;
        float: right;
        font-size: 28px;
        font-weight: bold;
        &:hover,
        &:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .modal-header {
        text-align: center;
        border-radius: 25px 25px 0px 0px;
        padding: 2px 16px;
        background-color: white;
        color: white;
        h2 {
          color: black;
        }
        border-bottom: 2px solid black;
      }
      .modal-body {
        padding: 2px 71px;
        .yesButton {
          background-color: #06145b;
          border: 2px solid #06145b;
          color: white;
          border-radius: 10px;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          transition-duration: 0.4s;
          padding: 15px 32px;
          margin: 4px 2px;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: #06145b;
          }
        }
        .noButton {
          background-color: #06145b;
          border: 2px solid #06145b;
          color: white;
          border-radius: 10px;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          float: right;
          font-size: 16px;
          margin: 4px 20px;
          transition-duration: 0.4s;
          cursor: pointer;
          &:hover {
            background-color: white;
            color: #06145b;
          }
        }
        table {
          margin-left: auto;
          margin-right: auto;
          label {
            float: right;
          }
          select,
          input {
            width: 90%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
          }
        }
      }
      .modal-footer {
        border-top: 2px solid black;
        padding: 2px 16px;
        background-color: white;
        color: white;
        border-radius: 0px 0px 25px 25px;
        .select-button {
          display: flex;
          justify-content: center;
          align-items: center;
          .hinzufuegen {
            background-color: black;
            border-radius: 10px;
            border: 1px solid black;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            &:hover {
              background-color: white;
              color: black;
            }
          }
          .verwerfen {
            background-color: red;
            border-radius: 10px;
            border: 1px solid red;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
            &:hover {
              background-color: white;
              color: red;
            }
          }
        }
      }
    }
  }
  .noData {
    text-align: center;
    h1 {
      color: red;
    }
    button {
      background-color: white;
      border: 2px solid white;
      color: black;
      padding: 15px 32px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      transition: 0.5s ease;
      &:hover {
        background-color: black;
        color: white;
        transition-duration: 0.4s;
      }
    }
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
}
@media (max-width: 829px) {
  body {
    font-size: 14px;
    .navi {
      font-size: 50px;
      left: 10px;
      top: -2px;
    }
    main {
      margin-left: -0.5rem;
      .options {
        margin-top: 0.3rem;
        margin-left: 5rem;
        width: 100%;
        button {
          font-size: 20px;
          margin-top: 0.4rem;
          padding: 8px 15px;
        }
      }
      table {
        width: 100%;
        font-size: 1rem;
        border-collapse: collapse;
        tr {
          font-size: 0.9rem;
          th {
            padding: 0px;
            text-align: left;
            input[type="checkbox"] {
              width: 40px;
              height: 40px;
            }
          }
          td {
            padding: 0px;
            text-align: left;
            input[type="checkbox"] {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .modal {
      width: 100%;
      .modal-content {
        width: 50%;
        .modal-body {
          padding: 0px;
        }
      }
    }
  }
}
